<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userServiceParen1" class="com.demo.springdemo.service.UserService">
        <property name="name" value="刘强东"></property>
    </bean>

    <bean id="userServiceParen2" class="com.demo.springdemo.service.UserService">
        <property name="type" value="xxx"></property>
    </bean>

    <bean id="userServiceChild" parent="userServiceParen1" depends-on="userServiceParen1,userServiceParen2">
        <property name="age" value="40"></property>
    </bean>
</beans>